<ion-view title="欢迎光临火星度假村" hide-back-button="true">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ui-sref="reservation">
                <i class="icon ion-document-text calm"></i>查看您的预订
            </a>
            <a class="item item-icon-left" ui-sref="weather">
                <i class="icon ion-android-sunny"></i>查看天气预报
            </a>
            <a class="item item-icon-left" ui-sref="restaurants">
                <i class="icon ion-fork"></i>查看附近餐馆
            </a>
        </div>
    </ion-content>
</ion-view>