<ion-view title="附近餐馆">
    <ion-content>
        <div class="list card" ng-repeat="restaurant in restaurants">
            <div class="item">
                <h2>{{restaurant.name}}</h2>
                <p>{{restaurant.city}},{{restaurant.address}}</p>
            </div>
            <div class="item item-image">
                <img ng-src="{{restaurant.image_url}}"/>
            </div>
        </div>
        <!--无限滚动:如果所有的页面都加载完了(例如，共30页)，则不再出现此组件
            ng-show和ng-hide:通过控制display:none|block
            ng-if:如果为false的话，就撤销这个组件
        -->
        <ion-infinite-scroll on-infinite="getRestaurants()"
                             ng-if="page<total"
                             immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>